# Temporary files
*~
*.swp

# TeX extra-files
*.aux
*.log
*.out
*.backup
*.toc
*.bbl
*.blg

# Object files
*.o

# header info files
*.d

# Dolphin file manager directory files. Not sure what they do
.directory

# Don't include binaries. They are giving me a headache.
# They are instead released and kept track of in another place
xjobb/head/common/bins/

# No need to keep track of all input files
xjobb/head/common/input/

# I've decided to deprecate autotests.
# We do not need to keep track of its files.
xjobb/head/common/input/autotests/

# All files with 'mock' in their name aren't needed in the repo
*mock*

# Files in 'output' are from now on determined 'temporary'
# Consequently, they shouldn't be version controlled.
xjobb/head/common/output/

# I feel no need to keep all my graphs in the repo
xjobb/head/common/input/adjm/
